<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'TAX_LABEL' | translate}}</h5>
	                <p>{{ 'EDIT_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">


				<div>
                   
                   
                            <div class="row clearfix">
                                <div class="form-group">
                                    <label class="control-label">{{ 'CITY_LABEL' | translate}}</label>
                                    <input class="form-control" ng-model="model.city" type="text">
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                    {{ 'COUNTRY_LABEL' | translate}}</label>
                                   <select  class="form-control" ng-model="model.country" pvp-country-picker></select>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                    {{ 'PERCENT_LABEL' | translate}}</label>
                                    <input class="form-control" ng-model="model.percent" type="text">
                                    <br>
                                </div>
                            </div>
					     	
                     
     
                    <button ng-click="save()" class="btn btn-primary">
                         {{ 'SAVE_LABEL' | translate}}

                    </button>
                </div>


	        
	        </div>                            
	    </div>
    
	</div>

</div>