<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'POST_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'EDIT_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">


				<div>
                    <ul class="nav nav-pills">
                        <li class="active">
                        	<a href="#pills-1"  data-toggle="tab" aria-expanded="true">
                        		{{ 'CONTENT_LABEL' | translate}}
                        	</a>
                        </li>
                        <li class="">
                            <a href="#pills-4"  data-toggle="tab" aria-expanded="false">
                                {{ 'SEO_LABEL' | translate}}
                            </a>
                        </li>
                        <li class="">
                        	<a href="#pills-2" data-toggle="tab" aria-expanded="false">                        	
                        		{{ 'MEDIA_LABEL' | translate}}
                        	</a>
                        </li>
                        <li class="">
                            <a href="#pills-8" data-toggle="tab" aria-expanded="false">                         
                                {{ 'MEDIA_ALBUM_LABEL' | translate}}
                            </a>
                        </li>
                        <li class="">
                            <a href="#pills-10" data-toggle="tab" aria-expanded="false">                         
                                {{ 'ATTRIBUTES_PLURAL_LABEL' | translate}}
                            </a>
                        </li>
                        
                        <li class="">
                        	<a href="#pills-3"  data-toggle="tab" aria-expanded="false">
                        		{{ 'CATEGORIES_LABEL' | translate}}
                        	</a>
                        </li>
                        <li class="">
                            <a href="#pills-5"  data-toggle="tab" aria-expanded="false">
                                {{ 'TAGS_LABEL' | translate}}
                            </a>
                        </li>

                        
                        <li class="">
                            <a href="#pills-6"  data-toggle="tab" aria-expanded="false">
                                {{ 'TAXES_LABEL' | translate}}
                            </a>
                        </li>
                          <li class="">
                            <a href="#pills-7"  data-toggle="tab" aria-expanded="false">
                                {{ 'DISCOUNT_PLURAL_LABEL' | translate}}
                            </a>
                        </li>

                        
                      
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pills-1">
                           	<div class="row clearfix">
					    		<div class="form-group">
					                <label class="control-label">{{ 'TITLE_LABEL' | translate}}</label>
					                <input class="form-control" ng-keyup="ChangeTitle()"  ng-model="model.title" type="text">
					                <br>
					            </div>
					        </div>
					     	<div class="row clearfix">
                                <simplemde ng-model="model.content"  confirm-action="confirmAction()"></simplemde>
					        </div>
                            <div class="row clearfix">
                                <br>
                                <textarea ng-model="model.excerpt" placeholder="{{EXCERPT_LABEL| translate}}"  class="form-control"></textarea>
                            </div>
                            <div class="row clearfix">
                                <br>
                                <datepicker ng-model="model.publish_date"></datepicker>
                            </div>

                            <div class="row clearfix">
                                <div class="form-group">
                                <br>
                                    <label class="control-label">{{ 'THUMBNAIL_LABEL' | translate}}</label>
                                    <input class="form-control"  ng-model="model.thumbnail" type="text">
                                    <br>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="form-group">
                                    <label class="control-label">{{ 'THUMBNAIL_TEXT_LABEL' | translate}}</label>
                                    <input class="form-control"  ng-model="model.thumbnail_text" type="text">
                                    <br>
                                </div>
                            </div>
     
                            <div class="row clearfix">
                                <div class="form-group">
                                    <label class="control-label">{{ 'FEATURED_IMAGE_LABEL' | translate}}</label>
                                    <input class="form-control"  ng-model="model.featured_image" type="text">
                                    <br>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="form-group">
                                    <label class="control-label">{{ 'FEATURED_IMAGE_TEXT_LABEL' | translate}}</label>
                                    <input class="form-control"  ng-model="model.featured_image_text" type="text">
                                    <br>
                                </div>
                            </div>
                             <div class="row clearfix">
                                <div class="form-group">
                                    <br>
                                    <label class="control-label">{{ 'PRICE_LABEL' | translate}}</label>
                                    <input class="form-control"  ng-model="model.price" type="text">
                                    <br>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="form-group">
                                    <br>
                                    <label class="control-label">{{ 'QTY_LABEL' | translate}}</label>
                                    <input class="form-control"  ng-model="model.qty" type="text">
                                    <br>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="app-checkbox"> 
                                        <label>
                                            <input name="app-checkbox-2" ng-model="model.publish" type="checkbox"> 
                                            {{ 'PUBLISH_LABEL' | translate}} <span>  </span>
                                        </label> 
                                    </div>
                                    <div class="app-checkbox"> 
                                        <label>                                       

                                            <input name="app-checkbox-3" ng-model="model.is_on_feed" type="checkbox"> 
                                            {{ 'ON_FEED_LABEL' | translate}} <span>  </span>
                                        </label> 
                                    </div>
                                      <div class="app-checkbox"> 
                                        <label>
                                            <input name="app-checkbox-1" ng-model="model.is_featured" type="checkbox"> 
                                            {{ 'FEATURED_LABEL' | translate}} <span>  </span>
                                        </label> 
                                    </div>
                                </div>
                            
                        </div>
                        <div class="tab-pane" id="pills-2">

                            <div class="input-group">
                                <input class="form-control" ng-model="query" placeholder="{{'SEARCH_FOR_LABEL' | translate}}" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="search()" type="button">Go!</button>
                                </span>
                            </div>
                            <div class="row form-group app-radio">

                                <div class="col-md-3" ng-repeat="item in images" data-id="{{item.id}}" >
                                    <div class="contact contact-rounded contact-bordered contact-xlg ">
                                        <img   style="height: 58px" ng-src="{{item.img}}">
                                        <div class="contact-container">
                                            
                                            <p>{{item.title}}</p>
                                            <br>
                                          

                                            <!-- Trigger -->
                                            <button type="button"  data-clipboard-text="{{item.img}}" class="btn btn-primary">
                                                <i class="fa fa-clipboard"></i>
                                            </button>
                                          
                                            <br>
                                            <br>
                                           <div class="app-radio success inline"> 
                                                <label>
                                                    <input ng-model="item.featured_checked"  type="checkbox" name="app-radio-3"
                                                    ng-change="featured_image(item)"

                                                    >
                                                    {{'FEATURED_LABEL' | translate}}
                                                    <span></span>
                                                </label> 
                                            </div>
                                            <div class="app-radio success inline"> 
                                                <label>
                                                    <input  ng-model="item.thumb_checked"  type="checkbox" name="app-radio-3"
                                                    ng-change="thumb_checked(item)"
                                                    > 

                                                    {{'THUMBNAIL_LABEL' | translate}}

                                                    <span></span>
                                                </label> 
                                            </div>
                                           
                                           
                                            &nbsp;
                                            <label>
                                                <input type="radio" name="app-radio-1" value="1" checked>
                                              
                                            </label>
                                          
                                        </div>
                                    </div>
                                </div>
                               
 
                                                                                                       
                            </div>
                                    
                           
                        </div>
                        <div class="tab-pane" id="pills-3">

                           	<div class="col-md-2 "  ng-repeat="item in todos">
                           
                                <div class="app-checkbox" > 
                                    <label>
                                    	<input ng-model="item.checked"  name="app-checkbox-1" type="checkbox"> 
                                    	{{item.title}}
                                        <span></span>
                                    </label> 
                                </div>
                               
                            </div>
                        </div>
                         <div class="tab-pane" id="pills-5">

                            <div class="col-md-2 " ng-repeat="item in tags">
                           
                                <div  class="app-checkbox" > 
                                    <label>
                                        <input ng-model="item.checked"  name="app-checkbox-1" type="checkbox"> 
                                        {{item.title}}
                                        <span></span>
                                    </label> 
                                </div>
                               
                            </div>
                        </div>
                          <div class="tab-pane" id="pills-6">

                            <div class="col-md-2 "  ng-repeat="item in taxes">
                           
                                <div class="app-checkbox" > 
                                    <label>
                                        <input ng-model="item.checked"  name="app-checkbox-1" type="checkbox"> 
                                        {{item.title}} &nbsp;
                                        {{showCountry(item.country)}}&nbsp;
                                          {{item.city}}
                                        <span></span>
                                    </label> 
                                </div>
                               
                            </div>
                        </div>
                           <div class="tab-pane" id="pills-8">

                            <div class="col-md-2 "  ng-repeat="item in album">
                           
                                <div class="app-checkbox" > 
                                    <label>
                                        <input ng-model="item.checked"  name="app-checkbox-1" type="checkbox"> 
                                        {{item.title}} &nbsp;
                                     
                                        <span></span>
                                    </label> 
                                </div>
                               
                            </div>
                        </div>
                        <div class="tab-pane" id="pills-4">

                            <div class="row clearfix">
                                <div class="form-group">
                                    <label class="control-label">{{ 'META_TITLE_LABEL' | translate}}</label>
                                    <input class="form-control" ng-model="model.meta_title" type="text">
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                    {{ 'SLUG_LABEL' | translate}}</label>
                                    <input class="form-control" ng-model="model.slug" type="text">
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                    {{ 'META_DESCRIPTION_LABEL' | translate}}</label>
                                    <textarea class="form-control" ng-model="model.meta_description" type="text"></textarea> 
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pills-7">

                           <div class="clearfix">
                           
                                <div class="col-md-3" style="padding: 10px;">

                                   <div class="form-group">
                                        <label class="control-label">{{ 'PERCENT_LABEL' | translate}}</label>
                                        <input class="form-control"  ng-model="model2.percent" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 10px;">
                                    <div class="form-group">
                                        <label class="control-label">{{ 'START_DATE_LABEL' | translate}}</label>
                                        <datepicker ng-id="start_date" ng-model="model2.start_date"></datepicker>
                                    </div>

                                </div>
                                <div class="col-md-3" style="padding: 10px;">
                                    <div class="form-group">
                                        <label class="control-label">{{ 'END_DATE_LABEL' | translate}}</label>
                                        <datepicker ng-id="end_date" ng-model="model2.end_date"></datepicker>
                                    </div>

                                </div>
                                <div class="col-md-3" style="padding: 34px 0px;">
                                    <button ng-click="AddDiscounts()" class="btn btn-primary">
                                        {{ 'ADD_LABEL' | translate}}
                                    </button>

                                </div>
                                <h1>{{ 'DISCOUNT_PLURAL_LABEL' | translate}}</h1>
                                <table style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>{{ 'DISCOUNT_LABEL' | translate}}</th>
                                            <th>{{ 'START_DATE_LABEL' | translate}}</th>
                                            <th>{{ 'END_DATE_LABEL' | translate}}</th>
                                            <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in discounts" data-id="{{item.id}}">
                                            <td style="padding: 15px">
                                                <span ng-show="item.editable == false">
                                                    {{item.percent}}%
                                                </span>
                                                <div ng-show="item.editable == true" class="form-group">
                                                   
                                                    <input class="form-control"  ng-model="item.percent" type="text">
                                                   
                                                </div>
                                            </td>
                                            <td style="padding: 15px">
                                                <span ng-show="item.editable == false">
                                                    {{item.start_date}}
                                                </span>
                                                 <div ng-show="item.editable == true" class="form-group">
                                                   
                                                    <datepicker ng-id="d_start_date_{{item.id}}" ng-model="item.start_date"></datepicker>
                                                </div>

                                            </td>
                                            <td style="padding: 15px">
                                                <span ng-show="item.editable == false">
                                                    {{item.end_date}}
                                                </span>
                                                 <div ng-show="item.editable == true" class="form-group">
                                                    
                                                    <datepicker ng-id="d_end_date_{{item.id}}" ng-model="item.end_date"></datepicker>
                                                </div>

                                            </td>
                                            <td style="padding: 15px">
                                                <a ng-show="item.editable == false " ng-click="edit_Discount(item.id)" class="btn btn-primary">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                    {{ 'EDIT_LABEL' | translate}}
                                                </a>
                                                <a ng-show="item.editable == false " ng-click="DELETE_Discount(item.id)" class="btn btn-danger">
                                                     <i class="fa fa-trash"></i>
                                                </a>
                                                <button ng-show="item.editable == true" ng-click="SaveDiscount(item.id)" class="btn btn-primary">
                                                    {{ 'SAVE_LABEL' | translate}}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                              
                                 
                            </div>
                        </div>
                        <div class="tab-pane" id="pills-10">
                            <div  ng-repeat="item2 in attributes" class="clearfix">
                                <div class="col-md-12">
                                    <h3>{{item2.title}}</h3>
                                </div>
                                <div class="col-md-3" style="padding: 10px;">

                                   <div class="form-group">
                                        <label class="control-label">{{ 'FEATURED_IMAGE_LABEL' | translate}}</label>
                                        <input class="form-control"  ng-model="item2.image" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 10px;">

                                   <div class="form-group">
                                        <label class="control-label">{{ 'PRICE_LABEL' | translate}}</label>
                                        <input class="form-control"  ng-model="item2.price" type="text">
                                       
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 10px;">
                                    <div class="form-group">
                                        <label class="control-label">{{ 'ATTRIBUTES_LABEL' | translate}} &nbsp; (*)</label>
                                        <div ng-show="item2.archetype !== 'date' ">
                                            <input class="form-control"  ng-model="item2.value" type="text">
                                        </div>
                                        <div ng-show="item2.archetype === 'date' ">
                                            <datepicker ng-id="date{{item2.id}}_{{item2.title}}" ng-model="item2.value"></datepicker>
                                        </div>
                                    </div>

                                </div>
                              
                                <div class="col-md-3" style="padding: 34px 0px;">
                                    <button  ng-show="inAttribute(item2.archetype) === true " ng-click="SaveUniqueAttribute(item2)" class="btn btn-primary">
                                        {{ 'SAVE_LABEL' | translate}}
                                    </button>
                                    <button  ng-show="inAttribute(item2.archetype) === false " ng-click="AddAttributes(item2)" class="btn btn-primary">
                                        {{ 'ADD_LABEL' | translate}}
                                    </button>
                                </div>
                               
                                <table ng-show="item2.archetype === 'choices' || item2.archetype === 'selectable' " style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>{{ 'ATTRIBUTES_LABEL' | translate}}</th>
                                            <th>{{ 'START_DATE_LABEL' | translate}}</th>
                                            <th>{{ 'END_DATE_LABEL' | translate}}</th>
                                            <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in item2.child" data-id="{{item.id}}">
                                            <td style="padding: 15px">
                                                <span ng-show="item.editable == false">
                                                    {{item.percent}}%
                                                </span>
                                                <div ng-show="item.editable == true" class="form-group">
                                                   
                                                    <input class="form-control"  ng-model="item.percent" type="text">
                                                   
                                                </div>
                                            </td>
                                            <td style="padding: 15px">
                                                <span ng-show="item.editable == false">
                                                    {{item.start_date}}
                                                </span>
                                                 <div ng-show="item.editable == true" class="form-group">
                                                   
                                                    <datepicker ng-id="d_start_date_{{item.id}}" ng-model="item.start_date"></datepicker>
                                                </div>

                                            </td>
                                            
                                            <td style="padding: 15px">
                                                <a ng-show="item.editable == false " ng-click="edit_Discount(item.id)" class="btn btn-primary">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                    {{ 'EDIT_LABEL' | translate}}
                                                </a>
                                                <a ng-show="item.editable == false " ng-click="DELETE_Discount(item.id)" class="btn btn-danger">
                                                     <i class="fa fa-trash"></i>
                                                </a>
                                                <button ng-show="item.editable == true" ng-click="SaveDiscount(item.id)" class="btn btn-primary">
                                                    {{ 'SAVE_LABEL' | translate}}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                              
                                 
                            </div>
                        </div>
                    </div>
                    <br>
                    <button ng-click="Save()" class="btn btn-primary">
                         {{ 'SAVE_LABEL' | translate}}

                    </button>
                </div>


	        
	        </div>                            
	    </div>
    
	</div>

</div>