
<div class="row">

	<div class="col-md-12">
    
	    <div class="block block-condensed">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'ORDERS_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'LIST_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content">
	         	<div class="row">
					
	               	<div class="col-md-10">
	               		<div class="form-group ">
	                    
	                        <div class="input-group">
	                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
	                            <input type="text" ng-model="model.query" class="form-control" placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'ORDERS_PLURAL_LABEL' | translate}}">
	                            <span class="input-group-btn">
					                <button  ng-click="search()" class="btn btn-primary" type="button">Go!</button>
					            </span>
	                        </div>
	                    </div>
	               	</div>
		                

                </div>

              


			    <table class="table">
				    <thead>
				        <tr>
				            
				            <th>{{ 'ORDER_NUMBER_LABEL' | translate}}</th>
				           
				            
				            <th>{{ 'ACTIONS_LABEL' | translate}}</th>
				        </tr>
				    </thead>
			    	<tbody>
			        <tr ng-repeat="item in filteredTodos" data-id="{{item.id}}">
			                
			                <td width="75%" >
			                    <a ui-sref="root.orders_view({id:item.id})" class="btn btn-default preview">
			                        <strong >{{item.title}}</strong>
			                    </a>
			                </td>

			             
			                <td>
			                    <a ui-sref="root.orders_view({id:item.id})" class="btn btn-primary">
			                    	<i class="fa fa-pencil-square-o"></i>
			                        {{ 'VIEW_LABEL' | translate}}
			                    </a>
			                  

			                </td>
			          
			          
			        </tr>
			         
			    </tbody>
			</table>


	   
	            <nav ng-show="todos.length > itemsPerPage">


	            	<paging
					  page="currentPage" 
					  page-size="itemsPerPage" 
					  total="todos.length"
					  pg-href="#/orders/page/{page}"
					  show-prev-next="true"
					  show-first-last="true"
					  class="pagination pagination-noborder"
						paging-action="pageChanged(page)"
					  >
					</paging>  
	       
             	</nav>
	        </div>                            
	    </div>
    
	</div>

</div>