<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'ORDER_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'VIEW_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">


              <h1>
                  {{ 'ORDERS_DETAILS_LABEL' | translate}}
              </h1>
              <table class="table">
                  <tbody>
                      <tr>
                          <th width="155px">
                               {{ 'ORDER_NUMBER_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.order_id}}
                          </td>
                      </tr>

                      <tr>
                          <th>
                               {{ 'AMOUNT_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.total}}
                          </td>
                      </tr>
                       <tr>
                          <th>
                               {{ 'CURRENCY_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.currency}}
                          </td>
                      </tr>
                       <tr>
                          <th>
                               {{ 'PAYMENT_METHOD_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.payment_method.payment_method}}
                          </td>
                       </tr>

                  </tbody>
              </table>
              <h1> {{ 'USER_DETAILS_LABEL' | translate}}</h1>
					    <div class="col-md-6">
                <h1>{{'BILLING_ADDRESS_LABEL'| translate}}</h1>

                <table class="table">
                    <tbody>
                         <tr>

                            <th width="165px">
                                 {{'FULL_NAME_LABEL'| translate}}
                            </th>
                            <td>
                                {{model.billing_address.first_name}} -
                                {{model.billing_address.last_name}}
                            </td>
                         </tr>

                         <tr>

                            <th >
                              {{'ADDRESS_LABEL'| translate}}
                            </th>
                            <td>
                                {{model.billing_address.address_line_1}} 
                                {{model.billing_address.address_line_2}}
                            </td>
                         </tr>
                         <tr>
                            <th >
                                 {{'CITY_LABEL'| translate}}
                            </th>
                            <td>
                                {{model.billing_address.city}} 
                                
                            </td>
                         </tr>
                         <tr>
                            <th >
                                 {{'COUNTRY_LABEL'| translate}}
                            </th>
                            <td>
                                {{ model.billing_address.country}} 
                                
                            </td>
                         </tr>
                         <tr>
                            <th >
                                  {{'ZIP_CODE_LABEL'| translate}}
                            </th>
                            <td>
                                {{ model.billing_address.zip_code}} 
                                
                            </td>
                         </tr>
                         <tr>
                            <th >
                                 {{'PHONE_NUMBER_LABEL'| translate}}
                            </th>
                            <td>
                                {{ model.billing_address.phone_number}} 
                                
                            </td>
                         </tr>
                        
                     
                    </tbody>
                  
                </table>
             </div>
             <div class="col-md-6">
                <h1>{{'SHIPPING_ADDRESS_LABEL'| translate}}</h1>

                <table  class="table">
                   <tbody>
                        <tr>

                           <th width="165px">
                                {{'FULL_NAME_LABEL'| translate}}
                           </th>
                           <td>
                              {{model.shipping_address.first_name}} 
                              {{model.shipping_address.last_name}}
                           </td>
                        </tr>

                        <tr>

                           <th >
                                   {{'ADDRESS_LABEL'| translate}}
                           </th>
                           <td>
                               {{model.shipping_address.address_line_1}} - 
                               {{model.shipping_address.address_line_2}}
                           </td>
                        </tr>
                        <tr>
                           <th >
                                {{'CITY_LABEL'| translate}}
                           </th>
                           <td>
                               {{model.shipping_address.city}} 
                               
                           </td>
                        </tr>
                        <tr>
                           <th >
                                {{'COUNTRY_LABEL'| translate}}
                           </th>
                           <td>
                               {{ model.shipping_address.country}} 
                               
                           </td>
                        </tr>
                        <tr>
                           <th >
                                 {{'ZIP_CODE_LABEL'| translate}}
                           </th>
                           <td>
                               {{ model.shipping_address.zip_code}} 
                               
                           </td>
                        </tr>
                        <tr>
                           <th >
                                {{'PHONE_NUMBER_LABEL'| translate}}
                           </th>
                           <td>
                               {{ model.shipping_address.phone_number}} 
                               
                           </td>
                        </tr>
                       
                    
                   </tbody>
                 
                </table>
             
             </div>
                             
 
                            

                   
                          
             
              <h6>
                {{ 'ORDERS_ITEMS_PLURAL_LABEL' | translate}}
              </h6>


              <table class="table">
                  <thead>
                    <tr>
                      <th>{{ 'THUMB_LABEL' | translate}}</th>
                      <th>{{ 'TITLE_LABEL' | translate}}</th>
                      <th>{{ 'QTY_LABEL' | translate}}</th>
                      <th>{{ 'AMOUNT_LABEL' | translate}}</th>
                      <th>{{ 'CURRENCY_LABEL' | translate}}</th>
                      <th>{{ 'CARRIER_LABEL' | translate}}</th>
                      <th>{{ 'TRACKING_NUMBER_LABEL' | translate}}</th>
                      <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in model.todos" data-id="{{item.id}}">
                          <td class="app-timeline-item" width="20px;">
                              <div class=" padding-top-20" style="height: 102px;">
                                  <div class="contact contact-rounded contact-bordered contact-xlg margin-bottom-0">
                                     <img  ng-src="{{item.thumbnail}}"  alt="{{item.article.title}}}">
                                  </div>
                              </div>
                                  
                          </td>
                          <td width="15%" >
                              <a class="btn btn-default preview">
                                  <strong >{{item.title}}</strong>
                              </a>
                          </td>



                          <td>
                              
                              {{item.qty}}
                             
                          </td>
                          <td>
                              
                              {{item.price}}
                             
                          </td>
                           <td>
                              
                             {{item.currency}}
                             
                          </td>
                         
                          <td>
                            <div ng-show="item.editable == false">
                              <span ng-show="item.carrier !== 'EMPTY'">

                                {{item.carrier| translate}}
                              </span>
                              <span  ng-show="item.carrier == 'EMPTY'">
                                {{'PLEASE_ADD_CARRIER_LABEL'| translate}}
                              </span>
                            </div>
                           
                            <div ng-show="item.editable == true" class="form-group">
                                <select class="form-control"  ng-options="item.id as item.label for item in model.carriers"  ng-model="item.carrier" type="text"></select>
                            </div>
                          </td>
                          <td>
                            <span ng-show="item.editable == false">
                                {{item.tracking_number}}
                            </span>
                            <div ng-show="item.editable == true" class="form-group">
                                <textarea class="form-control"  ng-model="item.tracking_number" type="text"></textarea> 
                                {{'PASTE_TRACKING_NUMBER_LABEL'| translate}}
                                
                            </div>
                          </td>
                          <td>
                            <a ng-show="item.editable == false " ng-click="edit_shipping_item(item)" class="btn btn-primary">
                              <i class="fa fa-pencil-square-o"></i>
                              {{ 'EDIT_LABEL' | translate}}
                            </a>
                            <button ng-show="item.editable == true" ng-click="SaveShipping(item)" class="btn btn-primary">
                                  {{ 'SAVE_LABEL' | translate}}
                            </button>
                             
                          </td>

                    </tr>
                   
                  </tbody>
                </table>
                    
                <br>
                <button ng-click="Save()" class="btn btn-primary">
                  {{ 'SAVE_LABEL' | translate}}
                </button>
	        </div>                            
	    </div>
    
	</div>

</div>