<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'ORDER_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'VIEW_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">


              <h1>
                  {{ 'ORDERS_DETAILS_LABEL' | translate}}
              </h1>
              <table class="table">
                  <tbody>
                      <tr>
                          <th width="75px">
                               {{ 'ORDER_NUMBER_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.order_number}}
                          </td>
                      </tr>

                      <tr>
                          <th>
                               {{ 'AMOUNT_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.amount}}
                          </td>
                      </tr>
                       <tr>
                          <th>
                               {{ 'CURRENCY_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.currency}}
                          </td>
                      </tr>
                       <tr>
                          <th>
                               {{ 'PAYMENT_METHOD_LABEL' | translate}}
                          </th>
                          <td>
                              {{model.payment_mehtod}}
                          </td>
                       </tr>
                       
                      <tr>
                          <th>
                               {{ 'USER_DETAILS_LABEL' | translate}}
                          </th>
                          <td>
                             
                              <table>
                              <tbody>
                                    <tr>

                                      <td>
                                           <h1>{{'BILLING_ADDRESS_LABEL'| translate}}</h1>

                                          <table>
                                              <tbody>
                                                   <tr>

                                                      <th width="75px">
                                                           {{'FULL_NAME_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{model.billing_address.full_name}}
                                                      </td>
                                                   </tr>

                                                   <tr>

                                                      <th >
                                                              {{'ADDRESS_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{model.billing_address.address_line_1}} - 
                                                          {{model.billing_address.address_line_2}}
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                           {{'CITY_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{model.billing_address.city}} 
                                                          
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                           {{'COUNTRY_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{ model.billing_address.country}} 
                                                          
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                            {{'ZIP_CODE_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{ model.billing_address.zip_code}} 
                                                          
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                           {{'PHONE_NUMBER_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{ model.billing_address.phone_number}} 
                                                          
                                                      </td>
                                                   </tr>
                                                  
                                               
                                              </tbody>
                                            
                                           </table>
                                      </td>
                                      <td>
                                           <h1>{{'SHIPPING_ADDRESS_LABEL'| translate}}</h1>
                                            <table>
                                              <tbody>
                                                   <tr>

                                                      <th width="75px">
                                                           {{'FULL_NAME_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{model.shipping_address.full_name}}
                                                      </td>
                                                   </tr>

                                                   <tr>

                                                      <th >
                                                              {{'ADDRESS_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{model.shipping_address.address_line_1}} - 
                                                          {{model.shipping_address.address_line_2}}
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                           {{'CITY_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{model.shipping_address.city}} 
                                                          
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                           {{'COUNTRY_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{ model.shipping_address.country}} 
                                                          
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                            {{'ZIP_CODE_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{ model.shipping_address.zip_code}} 
                                                          
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <th >
                                                           {{'PHONE_NUMBER_LABEL'| translate}}
                                                      </th>
                                                      <td>
                                                          {{ model.shipping_address.phone_number}} 
                                                          
                                                      </td>
                                                   </tr>
                                                  
                                               
                                              </tbody>
                                            
                                           </table>
                                      </td>
                                  </tr>
                              </tbody>
                                
                              </table>
                          </td>
                      </tr>



                  </tbody>
              </table>
					     	
              <h6>
                {{ 'ORDERS_ITEMS_PLURAL_LABEL' | translate}}
              </h6>


              <table class="table">
                  <thead>
                      <tr>
                          <th>{{ 'THUMB_LABEL' | translate}}</th>
                          <th>{{ 'TITLE_LABEL' | translate}}</th>
                          <th>{{ 'QTY_LABEL' | translate}}</th>
                          <th>{{ 'AMOUNT_LABEL' | translate}}</th>
                          <th>{{ 'CURRENCY_LABEL' | translate}}</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in todos" data-id="{{item.id}}">
                          <td class="app-timeline-item" width="20px;">
                              <div class=" padding-top-20" style="height: 102px;">
                                  <div class="contact contact-rounded contact-bordered contact-xlg margin-bottom-0">
                                     <img  ng-src="{{item.article.thumbnail}}"  alt="{{item.article.title}}}">
                                  </div>
                              </div>
                                  
                          </td>
                          <td width="75%" >
                              <a class="btn btn-default preview">
                                  <strong >{{item.article.title}}</strong>
                              </a>
                          </td>



                          <td>
                              
                              {{item.qty}}
                             
                          </td>
                          <td>
                              
                              {{item.amount}}
                             
                          </td>
                           <td>
                              
                             {{item.currency}}
                             
                          </td>

                    </tr>
                   
                  </tbody>
                </table>
                    
                <br>
                <button ng-click="Save()" class="btn btn-primary">
                  {{ 'SAVE_LABEL' | translate}}
                </button>
	        </div>                            
	    </div>
    
	</div>

</div>